.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 17%; 
  background-color: var(--main-color);
  position: fixed; 
  top: 0;
  left: 0;
  height: 100%;
}

.content {
  margin-left: 17%; 
  flex: 1; 
  background-color: #f8f9fa;
  overflow-y: auto; 
}
